.row-header{
    margin: 25% auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    margin: 20%;
    padding: 40px 0px 20px 0px;
    margin-bottom: 0%;
    background: transparent;
    color: white;
    margin-left: 5%;
    color: white;
}

.jumbotron {
    padding:70px 0px 70px 0px;
    margin:0px auto;
    color: thistle;
    margin-top:3%;
    margin-left: 35%;
    padding-bottom: 6%;
    background: transparent;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}



address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    background-image: url('../img/800252.png');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 24px !important;
  font-family: "Trade Winds";
  background-attachment: fixed;
  margin-bottom: 1%;
  color: white;
  margin:0;
  padding: 0;
  display: grid;
  height: 100%;
}
.mousey {
    width: 20px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    top : 90%;
    left : 50%;
    position : absolute;
  }
  .mousey .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    from {
      opacity : 1;
      transform: translateY(4px);
    }
    to {
      opacity : 0.5;
      transform: translateY(20px);
    }
    }

.navbar{
    padding:0%;
    margin:0%;
    margin-top: 0px;
    border: 0%;
    }

.navbar-brand {
    font-size: 200%;
    margin-left: -25%;
}

.navbar-inverse {
     background-color: khaki;
}

.navbar-nav {
    vertical-align: auto;
    margin-left: 100%;
}

.nav-item {
    float: right;
    margin-right: 2%;
    margin-top: 0px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.mycarousel{
    background: black;
    opacity: 0.6;
    margin-top: 8%;
    margin-bottom: 0%;
}

.carousel-item{
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel-caption{
    text-align: center;
    margin-top: -5%;
    margin-bottom: -8%;
}

.carousel-caption h2 {
    margin-left: 20%;
}

.carousel-caption p {
    padding-bottom: 100px;
    margin-left: 25%;
}

.btn{
    margin-left: 42%;
    margin-right: 43%;
    margin-top: 20%;
    border: 2px solid white;
    border-radius: 20%;
}



